@media only screen and (max-width: 576px) {
      .dash-content {
        margin-top: 74px;
        position: fixed;
        width: 100%;
        height: 660px;
        overflow: auto;
    }
  }
  
  /* Styles for medium-sized screens and above */
  @media only screen and (min-width: 576px) {
      .dash-content {
        margin-top: 80px;
        position: fixed;
        width: 100%;
        height: 730px;
        overflow: auto;
    }
  }