@media only screen and (max-width: 576px) {
      .dash-content {
        padding-top: 74px;
        position: fixed;
        width: 100%;
        height: 100%;
        overflow: auto;
    }
  }
  
  /* Styles for medium-sized screens and above */
  @media only screen and (min-width: 576px) {
      .dash-content {
        padding-top: 90px;
        position: fixed;
        width: 100%;
        height: 100%;
        overflow: auto;
    }
  }